
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

header {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 50px;
    padding-left: 30px;
}

header div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-left: 15px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8
}

.first {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    padding: 40px 20px 70px 20px;
    justify-content: center;
    gap: 30px;
}

.first h2 {
    font-size: 36px;
    color: #F9FAF8
}

.first button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 0;
    border-color: #3882f6;
    padding: 10px 20px;
    color: #F9FAF8
}

.first .left {
    padding: 50px;
    width: 40%;
    max-width: 400px;
    padding: 0;
    color: #F9FAF8
}

.first .right {
    background-color: grey;
    padding: 0;
    text-align: center;
    padding: 60px;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.blue-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 0px;
    margin-bottom: 50px;
}

.blue-box {
    text-align: center;
    color: gray;
    width: 150px;
}

.image {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    padding: 70px;
    margin: 0;
}

#information {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #1f2937;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 50px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quote-person {
    font-size: 24px;
    position: relative;
    left: 10%;
}

.fourth {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    color: #e5e7eb;
    border-radius: 20px;
    padding: 20px;
}

.fourth-left {
    width: 40%;
    max-width: 400px;
    color: #F9FAF8;
}

.fourth button {
    text-align: center;
    padding: 10px 20px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10%;
    border-width: 2px;
    margin: 0;
}