body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
}

header div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-left: 15px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8
}

.first {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}