body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
}

header div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding-left: 15px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8
}

.first {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
}

footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.blue-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 0px;
    margin-bottom: 50px;
}

.blue-box {
    text-align: center;
    color: gray;
    width: 150px;
}

.image {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    padding: 70px;
    margin: 0;
}

#information {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #1f2937;
}